:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: blanchedalmond;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Основной стиль контейнера */
.form-group {
  margin-bottom: 20px;
}

/* Стили для label */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

/* Основной стиль для input */
input,
textarea,
select {
  padding: 12px 16px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

/* Стиль при фокусе */
input:focus,
textarea:focus,
select:focus {
  border-color: #4caf50;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

/* Стиль ошибки */
input.error,
textarea.error,
select.error {
  border-color: #e53935;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
  box-shadow: 0 4px 8px rgba(229, 57, 53, 0.2);
}

.error-message,
.error {
  color: #e53935;
  font-size: 12px;
  margin: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.filters_wrapper select,
.task-list_wrapper select {
  outline: none;
  border: none;
  padding: 5px;
  background-color: #213547;
  color: white;
  border-radius: 4px;
}

.priority-filters_popup label {
  color: white;
}

.filters_wrapper {
  margin-bottom: 10px;
}

.filters-block {
  padding: 5px 0;
  border-top: 3px solid #21354733;
  border-bottom: 3px solid #21354733;
  background-color: #21354713;
  display: flex;
  gap: 10px;
}

.priority-filters {
  position: relative;
  padding: 5px 10px;
  background-color: #213547;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.priority-filters_popup {
  position: absolute;
  top: 101%;
  left: 0;
  padding: 3px;
  display: block;
  width: 100%;
  background-color: #213547;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
}

.priority-filters_popup.show {
  display: block;
}

.priority-filters_popup label {
  display: block;
}

.task-list_wrapper ul {
  padding: 0px;
}

.task-list_item {
  display: grid;
  grid-template-columns: 120px 40px auto 100px 100px 120px;
  background-color: rgba(210, 105, 30, 0.4);
  margin-bottom: 10px;
  border-radius: 4px;
}
.task-list_item select {
  color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
}

.task-list_item select.status_0 {
  color: white;
}
.task-list_item select.status_1 {
  color: rgb(255, 217, 0);
}
.task-list_item select.status_2 {
  color: rgba(255, 145, 0, 0.993);
}
.task-list_item select.status_3 {
  color: red;
}

.task-list_item span {
  text-align: center;
  font-weight: 600;
}

.task-list_item h4 {
  padding-left: 2px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-list_item p {
  margin: 0;
  background-color: rgb(210, 105, 30);
  color: white;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 13px;
}

.task-list_item._completed {
  background-color: rgba(0, 233, 74, 0.4);
}
.task-list_item._completed p {
  background-color: rgb(0, 223, 74);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content form {
  width: 80%;
}

.modal-content .form-group {
  display: flex;
  flex-direction: column;
}

.modal-content .form-group select {
  background-color: white;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #213547;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 100%;
}

.close-button:hover {
  color: #e53935;
  background-color: transparent;
}
